@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
html{
    scroll-behavior: smooth;
}

/* variables globales y mundiales, mejor dicho intercontinentales */
:root{
    --width-icono_boton: 50px;
    --heigth-icono_boton: 50px;
    --color-link: #BB004F;
    --color-white: #FFFFFF;
    --padding-side: 1rem;
    --more-color: #FFF3F3;
    --color-button: #FF007A; 
    --color-button-hover: #cf0064;
    --color-gray-mood: #545454;
    --color-gray-still: #e4e4e4;
}

.header{
    position: fixed;
    z-index: 5;
    width: 100%;
}

.navbar{
    display: flex;
    justify-content: space-between;
    height: 5%;
    width: 100%;
    background-color: var(--more-color);
}

.imagen__navbar{
    margin-left: 90px;
}

.Ul__navbar{
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    width: 20%;
    margin-right: 90px;
}

.li_navbar{
    list-style: none;

}

.Link__navbar{
    text-decoration: none;
    color: var(--color-link);
    font-size: 20px;
}

/* SECCIONES */

.main_content{
    max-width: 100%;
    margin: 0 auto;
}

/* SECCION 1 */

.div_seccion1{
    background-color: #BB004F;
    height: 751px;
    width: 100%;
    background-image: url(Rectangle\ 4.png);
    background-size: cover;
}

.caja_seccion1{
    position: relative;
    width: 446px;
    height: 276px;
    margin-left: 70%;
    top: 200px;
    color: var(--color-white);
}

.div__button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 17px;
    width: 181px;
    height: 50px;
    background-color: var(--color-button);
    
}

.title_class1--seccion1{
    font-size: 64px;
}

.title_class3--seccion1{
    margin-top: 10px;
    margin-bottom: 10px;
}

.Button__seccion1{ 
    font-size: 16px;
    color: var(--color-white);
    text-decoration: none;
}

.div__button:hover{
    background-color: var(--color-button-hover);
}

/* SECCIÓN 2 */

.Li__navbar{
    animation: linear, 1s;
}

.div_seccion2{
    margin: 0 auto;
    max-width: 80%;
    margin-bottom: 100px;
}

.caja_title{
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title_class2--seccion2{
    font-size: 48px;
}

.caja_img--text2{
    display: flex;
    justify-content: space-around;
}

.content_img{
    display: grid;
    grid-template-columns: repeat(3, 100px) 50px repeat(2, 100px) 160px 100px;
    grid-template-rows: repeat(6, 100px);
}

.--IMG4{
    grid-column-start: 1;
    grid-row-start: 1;
    filter: saturate(0%);
}

.--IMG1{
    grid-column-start: 8;
    grid-row-start: 1;
    filter: saturate(0%);
}

.--IMG2{
    grid-column-start: 1;
    grid-row-start: 4;
    filter: saturate(0%);
}

.--IMG3{
    grid-column-start: 5;
    grid-row-start: 4;
    filter: saturate(0%);
}

.--IMG4:hover{
    grid-column-start: 1;
    grid-row-start: 1;
    filter: saturate(100%);
    transform: scale(1.02)
}

.--IMG1:hover{
    grid-column-start: 8;
    grid-row-start: 1;
    filter: saturate(100%);
    transform: scale(1.02)
}

.--IMG2:hover{
    grid-column-start: 1;
    grid-row-start: 4;
    filter: saturate(100%);
    transform: scale(1.02)
}

.--IMG3:hover{
    grid-column-start: 5;
    grid-row-start: 4;
    filter: saturate(100%);
    transform: scale(1.02)
}

.caja_text--seccion2{
    margin-left: 10%;
}

.title_class3--seccion2{
    font-size: 36px;
    color: var(--color-link);
}

.title_class4--seccion2{
    font-size: 32px;
    color: var(--color-gray-mood);
}


/* SECCION3 */

.div_seccion3{
    background-image: url(fondo2.png);
    width: 100%;
    height: 1077px;
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: start;
    filter: saturate(0%);
    animation-duration: 2s;
}

.div_seccion3:hover{
    filter: saturate(100%);
    
}

.caja__text--seccion3{
    margin-bottom: 60px;
    margin-left: 240px;
    color: var(--color-white);
}

.title_class2--seccion3{
    font-size: 56px;
}


.title_class3--seccion3{
    font-size: 24px;
}
/* 
SECCION4 */

.cj_sc4{
    padding-top: 5%;
    padding-bottom: 8%;
}

.title_class2--seccion4{
    font-size: 60px;
}

.caja_img--seccion4{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 10%;
}

.img_seccion4{
    width: 90%;
    height: 90%;
}

/* SECCION5 */

.div_seccion5{
}

.cj_sc5{
    font-size: 48px;
}

.caja_cards{
    display: flex;
    width: 100%;
    height: 600px;
    justify-content: center;
    align-items: center;
}

.card1{
    transform: scale(1.2);
    padding-left: 120px;
    padding-right: 120px;
    width: 90%;
    height: 80%;
}

.card3{
    transform: rotate(2deg);
    width: 100%;
    height: 80%;
    margin-left: -20%;
}

.card2{
    transform: rotate(-2deg);
    width: 100%;
    height: 80%;
    margin-right: -20%;
}

/* SECCION6 */

.div_seccion6{
    margin-top: 150px;
    padding-top: 80px;
    background-image: url(rosefn.png);
    background-size: 100%;
    background-position: 10px;
    height: 700px;
    width: 100%;
    transform: scale(1.1);
    background-repeat: no-repeat;
}

.title_class1--seccion6{
    margin-top: 180px;
    font-size: 200%;
    color: var(--color-white);

}

.title_class2--seccion6{
    font-size: 150%;
    color: var(--color-white);
}

/* CONTACTO */

.div_seccion7{
    height: 500px;
    background-color: var(--color-gray-still);
    
}

.title_class1--contacto{
    color: var(--color-link);
    font-size: 60px;
}

.content_contact{
    display: flex;
    justify-content: space-evenly;
}

.caja_contact{
    font-size: 32px;
}

.caja_contact--input{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input_contact{
    border-radius: 10px;
    display: flex;
    border-style: none;
    width: 300px;
    height: 100px;
    padding-left: 10px;
    padding-top: 10px;
    resize: none;
}

.--2{
    padding-top: 0px;
    height: 50px;
}

@media (max-width: 1440px)
{
    .Ul__navbar{
        margin-right: 150px;
    }

    .li_navbar{
        margin-right: 30px;
    }

    .caja_img--text2{
        display: flex;
        flex-direction: column;

    }
    .caja_text--seccion2{
        margin-left: 0px;
    }

    .caja_seccion1{
        position: relative;
        width: 446px;
        height: 276px;
        margin-left: 65%;
        top: 200px;
        color: var(--color-white);
    }

    .card1{
        transform: scale(1.2);
        padding-left: 120px;
        padding-right: 120px;
        width: 100%;
        height: 80%;
    }
    
    .card3{
        transform: rotate(2deg);
        width: 100%;
        height: 70%;
        margin-left: -15%;
    }
    
    .card2{
        transform: rotate(-2deg);
        width: 100%;
        height: 70%;
        margin-right: -15%;
    }
}

@media (max-width: 1240px)
{
    .caja_title{
        font-size: 30px;
    }

    .Ul__navbar {
        margin-right: 30%;
    }

    .li_navbar{
        margin-right: 30px;
    }

    .caja_img--text2{
        display: flex;
        flex-direction: column;

    }
    .caja_text--seccion2{
        margin-left: 0px;
    }

    .caja_seccion1{
        position: relative;
        transform: scale(0.8);

        width: 450px;
        height: 276px;
        margin-left: 50%;
        top: 350px;
        color: var(--color-white);
    }

    .card1{
        transform: scale(1.2);
        padding-left: 120px;
        padding-right: 120px;
        width: 100%;
        height: 80%;
    }
    
    .card3{
        transform: rotate(2deg);
        width: 100%;
        height: 70%;
        margin-left: -15%;
    }
    
    .card2{
        transform: rotate(-2deg);
        width: 100%;
        height: 70%;
        margin-right: -15%;
    }

    .content_img{
        display: grid;
        grid-template-columns: repeat(2, 80px) 30px repeat(2, 80px) 20px 80px;
        grid-template-rows: repeat(4, 100px);
        gap: 10px;
    }

    .--IMG4{
        width: 420px;
        height: 200px;
        grid-column-start: 1;
        grid-row-start: 1;
        filter: saturate(0%);
    }
    
    .--IMG1{
        width: 200px;
        height: 420px;
        grid-column-start: 7;
        grid-row-start: 1;
        filter: saturate(0%);
    }
    
    .--IMG2{
        width: 200px;
        height: 200px;
        grid-column-start: 1;
        grid-row-start: 3;
        filter: saturate(0%);
    }
    
    .--IMG3{
        
        width: 200px;
        height: 200px;
        grid-column-start: 4;
        grid-row-start: 3;
        filter: saturate(0%);
    }
    
    .--IMG4:hover{
        grid-column-start: 1;
        grid-row-start: 1;
        filter: saturate(100%);
        transform: scale(1.02)
    }
    
    .--IMG1:hover{
        grid-column-start: 7;
        grid-row-start: 1;
        filter: saturate(100%);
        transform: scale(1.02)
    }
    
    .--IMG2:hover{
        grid-column-start: 1;
        grid-row-start: 3;
        filter: saturate(100%);
        transform: scale(1.02)
    }
    
    .--IMG3:hover{
        grid-column-start: 4;
        grid-row-start: 3;
        filter: saturate(100%);
        transform: scale(1.02)
    }

    .caja__text--seccion3{
        transform: scale(0.7);
        margin-left: 5%;
    }
    .caja_cards{
        transform: scale(0.8);
    }

    .content_contact{
        margin-left: 50px;
        flex-direction: column;
    }

    .caja_contact{
        font-size: 20px;
        margin-bottom: 60px;
    }

    .caja_contact--input{
        display: flex;
        flex-direction: row;
    }

    .title_class1--seccion6{
        margin-top: 100px;
        font-size: 20px;
    }

    .title_class4--seccion2{
        font-size: 30px;
    }

    .title_class2--seccion4{
        font-size: 30px;
    }

    .title_class1--contacto{
        font-size: 30px;
    }

    .title_class2--seccion5{
        font-size: 30px;
    }

    .cj_sc5{
        margin-bottom: -100px;
    }
    
    .div_seccion6{
        padding-top: 50px;
        height: 500px;

    }

    .div_seccion6{
        margin-bottom: -100px;
    }

    .card3{
        transform: rotate(2deg);
        width: 100%;
        height: 70%;
        margin-left: -5%;
    }
    
    .card2{
        transform: rotate(-2deg);
        width: 100%;
        height: 70%;
        margin-right: -5%;
    }


}

@media (max-width: 800px){

    .div_seccion1{
        width: 100%;
        background-size: 1800px 130%;
        background-repeat: no-repeat;
        background-position-x: -200px;
    }

    .caja_seccion1{
        margin-left: 40%;
    }

    .caja_cards{
        flex-direction: row;
    }

    .card1{
        transform: rotate(0.1deg);
        width: 100%;
        height: 60%;
        margin: none;
    }
    
    .card2{
        transform: rotate(12deg);
        width: 100%;
        height: 70%;
        margin: none;
        margin-right: -150px;
    }

    .card3{
        transform: rotate(-12deg);
        width: 100%;
        height: 70%;
        margin-left: -150px;
    }
    
    .title_class2--seccion6{
        font-size: 20px;
    }

    .title_class2--seccion2{
        font-size: 30px;
    }
    
    .title_class1--seccion6{
        margin-top: 100px;
        font-size: 10px;
    }

    .div_seccion5{
        margin-bottom: -200px;
    }

    .div_seccion3{
        background-position-x: -300px;
    }

    .div_seccion4{
        margin-bottom: -100px;
    }
    
    .div_seccion6{
        width: 100%;
        margin-bottom: -100px;
    }

    .line{
        width: 60%;
    }

}

@media (max-width: 725px)
{

    .Ul__navbar {
        margin-right: 40%;
    }

    .div_seccion1{
        height: 600px;
        background-size: 1000px 700px;
    }

    .caja_seccion1{
        margin-left: 60%;
        width: 200px;
        height: 100px;
    }

    .title_class1--seccion1{
        font-size: 20px;
    }

    .title_class3--seccion1{
        font-size: 18px;
    }


    .caja_cards{
        flex-direction: column;
    }

    .card1{
        transform: rotate(0.1deg);
        width: 80%;
        height: 60%;
        margin: none;
    }
    
    .card2{
        transform: rotate(12deg);
        width: 32%;
        height: 50%;
        margin: none;
        margin-right: 0px;
    }

    .card3{
        transform: rotate(-12deg);
        width: 32%;
        height: 60%;
        margin-left: 0px;
    }

    .content_img{
        display: grid;
        grid-template-columns: repeat(3, 80px) repeat(1, 80px);
        grid-template-rows: repeat(3, 80px);
        gap: 5px;
    }

    .--IMG4{
        width: 330px;
        height: 160px;
        grid-column-start: 1;
        grid-row-start: 1;
        filter: saturate(0%);
    }
    
    .--IMG1{
        display: none;
        width: 1px;
        height: 1px;
        grid-column-start: 1;
        grid-row-start: 3;
    }
    
    .--IMG2{
        width: 160px;
        height: 160px;
        grid-column-start: 1;
        grid-row-start: 3;
        filter: saturate(0%);
    }
    
    .--IMG3{
        
        width: 160px;
        height: 160px;
        grid-column-start: 3;
        grid-row-start: 3;
        filter: saturate(0%);
    }
    
    .--IMG4:hover{
        grid-column-start: 1;
        grid-row-start: 1;
        filter: saturate(100%);
        transform: scale(1.02)
    }
    
    .--IMG1:hover{
        grid-column-start: 1;
        grid-row-start: 5;
        filter: saturate(100%);
        transform: scale(1.02)
    }
    
    .--IMG2:hover{
        grid-column-start: 1;
        grid-row-start: 3;
        filter: saturate(100%);
        transform: scale(1.02)
    }
    
    .--IMG3:hover{
        grid-column-start: 4;
        grid-row-start: 3;
        filter: saturate(100%);
        transform: scale(1.02)
    }

    .content_contact{
        margin-left: 10px;
        flex-direction: column;
    }

    .caja_contact{
        font-size: 20px;
        margin-bottom: 60px;
    }

    .caja_contact--input{
        width: 60%;
        display: flex;
        flex-direction: column;
    }

    .caja_text--seccion2{
        margin-top: 90px;
    }
}
@media (max-width: 600px)
{
    .Ul__navbar{
        display: none;
    }

    .caja_seccion1{
        margin-left: 40%;
        width: 200px;
        height: 100px;
    }

    .div_seccion5{
        margin-bottom: -300px;
    }

    .card1{
        transform: rotate(0.1deg);
        width: 100%;
        height: 100%;
        margin: none;
    }
    
    .card2{
        transform: rotate(12deg);
        width: 52%;
        height: 50%;
        margin: none;
        margin-right: 0px;
    }

    .card3{
        transform: rotate(-12deg);
        width: 52%;
        height: 60%;
        margin-left: 0px;
    }

    .title_class1--seccion6{
        font-size: 10px;
    }

    .title_class2--seccion6{
        font-size: 10px;
    }

    .caja_title{
        font-size: 30px;
        margin-bottom: -30px;
    }

    .content_contact{
        
        height: 500px;
    }
    
}